.background {
  background-color: white;
}

.integrant-left-card {
  .integrant-photo {
    margin: 50px 0px;
    width: 20vw;
  }

  .integrant-name {
    font-size: 3rem;
    color: #3ace80;
    text-align: center;
  }

  .integrant-function {
    color: #A8A8A8;
    margin-bottom: 30px;
  }

  .integrant-description {
    font-size: 24px;
    letter-spacing: 0.01px;
    text-align: center;
    color: #7B7A7A;
  }

  .social-media {
    margin-top: 35px;
    .logo {
      margin: 0px 30px;
      width: inherit;
      max-width: 50px;
    }
  }
}
