<mat-drawer-container class="content no-pad-and-marg nomargin" autosize>

  <mat-drawer *ngIf="isDashboard()" id="drawer" #drawer class="dashboard mat-elevation-z4" mode="side" opened>
    <app-sidemenu></app-sidemenu>
  </mat-drawer>

  <mat-drawer-content>
    <div class="header">
      <app-header *ngIf="isHomeOrAbout()" class="header"></app-header>

      <div class="content no-pad-and-marg">
        <router-outlet></router-outlet>
      </div>

      <div class="footer">
        <app-footer *ngIf="isHomeOrAbout()"></app-footer>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
