<mat-toolbar color="#FFFFFF" class="row header mat-elevation-z4 align-items-center nopad nomargin">
    <div class="col-2">
        <a routerLink="/home"><img class="app-logo" src="assets/img/Logo.png" alt="Logo Contify"></a>
    </div>

    <div class="col-8 justify-content-center">
        <a routerLink="/home" class="pages"><span>INÍCIO</span></a>
        <a routerLink="/about" class="pages"><span>SOBRE</span></a>
    </div>

    <div class="col-2 align-items-center">
        <span><a routerLink="/login" class="login">Entrar</a></span>
        <a routerLink="/register" class="register"><button mat-button class="register">Registrar-se</button></a>
    </div>
</mat-toolbar>