<div class="header row align-items-center">
  <div class="container">
    <mat-toolbar>
      <div class="col-2 no-pad-and-marg">
        <div class="row justify-content-center nomargin">
          <a routerLink="/home"><img class="app-logo" src="assets/img/logos/Logo-verde.png" alt="Logo Contify"></a>
        </div>
      </div>

      <div class="col-8 no-pad-and-marg">
        <div class="row justify-content-center nomargin">
          <a routerLink="/home" class="pages" style="padding-right: 56px;"><span>INÍCIO</span></a>
          <a routerLink="/about" class="pages"><span>SOBRE</span></a>
        </div>
      </div>

      <div class="col-2 no-pad-and-marg">
        <div class="row justify-content-center nomargin">
          <span><a routerLink="/login" class="login">Entrar</a></span>
          <a routerLink="/register"><button mat-button class="register">Registrar-se</button></a>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>
