<div class="background">
  <div class="row align-items-center justify-content-center h-100 nomargin">
    <mat-card class="error-card mat-elevation-z4">
      <div class="row align-items-center nomargin">
        <div class="col no-pad-and-marg">
          <p class="text-title">Ops...</p>
          <p class="text-body">Nossos desenvolvedores ainda estão trabalhando em novas funcionalidades!</p>
          <p class="text-body">Pedimos desculpas!</p>
        </div>
        <div class="col no-pad-and-marg">
          <div class="row justify-content-center">
            <img class="error-img" src="https://media.giphy.com/media/S7u66urzxc2J2/giphy.gif" alt="Error">
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 30px;">
        <a routerLink="/home"><img class="app-logo" src="assets/img/logos/Logo-verde.png" alt="Logo Contify"></a>
      </div>
    </mat-card>
  </div>
</div>
