<mat-toolbar class="footer row justify-content-center nomargin">
  <div class="col-1 nopad">
    <div class="row justify-content-center nomagin">
      <span>&lt;CODE GUYS&trade;&gt; 2020</span>
    </div>
  </div>
  <div class="col-1 nopad">
    <div class="row justify-content-center nomagin">
      <span>Contato</span>
    </div>
  </div>
  <div class="col-1 nopad">
    <div class="row justify-content-center nomagin">
      <span><a routerLink="/about">Sobre</a></span>
    </div>
  </div>
</mat-toolbar>
