<div class="register">
  <div class="row align-items-center justify-content-center h-100 nomargin">
    <mat-card class="register-card mat-elevation-z1">
      <div class="row justify-content-center">
        <img class="app-logo" src="assets/img/logos/Logo-verde.png" alt="Logo Contify">
      </div>

      <div class="card-divider">
        <mat-divider></mat-divider>
      </div>

      <p class="row justify-content-center">Registrar-se</p>

      <mat-card-content>
        <form [formGroup]="registerForm">
          <mat-form-field class="name-input" appearance="outline">
            <mat-icon  matPrefix class="form-icon">account_circle</mat-icon>
            <mat-label class="label">Insira seu nome</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>

          <mat-form-field class="email-input" appearance="outline">
            <mat-icon matPrefix class="form-icon">alternate_email</mat-icon>
            <mat-label class="label">Insira seu e-mail</mat-label>
            <input matInput formControlName="email" placeholder="Ex.: enrique.araujo@gmail.com" [formControl]="email" required (change)="getErrorMessage()">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="password-input" appearance="outline">
            <mat-icon matPrefix class="form-icon">lock</mat-icon>
            <mat-label class="label">Insira uma senha</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" (keyup.enter)="register()" required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <div class="row justify-content-center">
          <button mat-button class="register-button mat-elevation-z3" (click)="register()">Registrar-se</button>
        </div>
      </mat-card-actions>

      <div class="row justify-content-center">
        <span><a class="has-account" routerLink="/login">Já possuo uma conta!</a></span>
      </div>
    </mat-card>
  </div>
</div>
