<div class="background">
  <div class="container">
    <div class="height row align-content-center">
      <div class="col align-self-center">
        <div class="row nomargin">
          <span class="title">{{cardTitle}}</span>
        </div>
        <div class="row nomargin">
          <span class="description">{{cardDescription}}</span>
        </div>
      </div>
      <div class="card mat-elevation-z3">
        <div class="row nomargin justify-content-center align-content-center h-100">
          <img src="{{cardImagePath}}" alt="Card Image">
        </div>
      </div>
    </div>
  </div>
</div>
