.background {
  min-height: 280px;

  .title {
    color: #3ACE80;
    font-size: 43px;
    letter-spacing: 0.04px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 26px;
    letter-spacing: 0.01px;
    color: #707070;
    text-align: center;
  }

  .image-col {
    height: 100% !important;

    .image {

    }
  }
}
