<div class="top">

  <div class="left">
    <h1>ADICIONE,</h1>
    <h1>CONTROLE,</h1>
    <h1 class="green">PLANEJE-SE</h1>
  </div>
  <div class="right">
    a
  </div>

  <p>Uma ferramenta para ajudá-lo em seu planejamento financeiro.</p>

  <div class="email-box mat-elevation-z2">

    <p class="login-home">Acesse com seu email</p>
    <p class="register-home"> Registrar-se de graça!</p>

  </div>

  <p class="breve">Em breve..</p> 

  <div class="up-button mat-elevation-z3">
    <span class="material-icons">
      arrow_upward
    </span>
  </div>


</div>