<home-right-card cardTitle="ORGANIZE SUA VIDA FINANCEIRA DE FORMA SIMPLES E INTUITIVA"
  cardDescription=  "Uma plataforma criada para facilitar a organização de sua vida financeira.
                    Visualize seus ganhos e gastos de uma maneira simples e se planeje!"
  cardImagePath="assets/img/home/organize.png">
</home-right-card>

<home-left-card cardTitle="CRIE MOVIMENTOS, ADICIONE SUAS DIVIDAS E SEUS GANHOS PESSOAIS"
  cardDescription=  "Movimentos são valores que você recebe ou gasta. Uma forma simples de monitorar seu orçamento.
                    Crie, edite, delete e acompanhe seu saldo."
  cardImagePath="assets/img/home/crie.png">
</home-left-card>

<home-right-card cardTitle="ADICIONE CATEGORIAS E COMPROVANTES A SEUS MOVIMENTOS"
  cardDescription=  "Você poderá adicionar fotos de seus comprovantes e recibos de seus movimentos,
                    além de adicionar tags para facilitar a organização e procura."
  cardImagePath="assets/img/home/adicione.png">
</home-right-card>

<home-left-card cardTitle="PARTICIPE DO DESENVOLVIMENTO DA PLATAFORMA"
  cardDescription=  "Utilize a plataforma e nos ajude a construí-la através de feedbacks, reporte erros e envie sugestões.
                    Sua participação é de extrema importância para nossa equipe."
  cardImagePath="assets/img/home/participe.png"
  ></home-left-card>
