<div class="forgot-message">
  <div class="row align-items-center justify-content-center h-100 nomargin">
    <mat-card class="message-card mat-elevation-z1">
      <div class="row justify-content-center">
        <img class="app-logo" src="assets/img/logos/Logo-verde.png" alt="Logo Contify">
      </div>

      <div class="card-divider">
        <mat-divider></mat-divider>
      </div>

      <p class="row justify-content-center">Visualize seu e-mail</p>

        <mat-card-content>

          <p>Confira sua caixa de e-mail, enviamos as instruções para definir sua nova senha.</p>

        </mat-card-content>

      <mat-card-actions>
        <div class="row justify-content-center">
          <button mat-button class="ok-button mat-elevation-z3" routerLink="/home">Ok!</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
