.login {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#3ace80, #48db8d);

  .login-card {
    min-width: 400px;
    max-width: 400px;
    border-radius: 40px;
  }
}

.label {
  padding-left: 10px;
}

.email-input {
  width: 100%;
  border-radius: 20px;
  font-size: 0.9rem;
}

.password-input {
  width: 100%;
  border-radius: 20px;
  font-size: 0.9rem;
}

.forgot-pass {
  color: #707070;
  font-size: 0.8rem;
}

.forgot-pass:hover {
  text-decoration: none;
  color: #3ace80;
  transition: 0.1s;
}

.login-button {
  background-color: #3ace80;
  border-radius: 20px;
  color: white;
  width: 120px;
}

.create-account {
  color: #3ace80;
  font-size: 0.9rem;
}

p {
  font-size: 1.1rem;
  color: #707070;
}

.visibility {
  color: #707070;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #707070;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3ACE80;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #3ACE80;
}
