<h1>Recuperação de senha</h1>
<p>Olá, {{name}}, se você esqueceu a senha utilize este token para reculopera-lá: http://localhost:3001/resetpass/{{password_reset_token}}</p>
<p>Se você não solicitou recuperação, ignore este e-mail</p>
