<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Welcome To Contify</title>
</head>
<body style= "background-color:white;
            width: 680px;
            margin: 0;
            font-family: 'Maven Pro', sans-serif;">

<div style="display: flex;
justify-content: center;
background-color: #3ACE80;">
    <img style="margin: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto" src="https://i.ibb.co/X4DLGdB/logo.png">
</div>

<h1 style="text-align: center;
color: #707070;
font-size: 40px;">SEJA BEM VINDO</h1>

<div style="margin-left: 37px;
margin-right: 37px;">
<div>

    <p style="color: #707070;
    font-size: 20px;">Olá, {{name}}</p>

    <p style="color: #707070;
    font-size: 20px;"> Seja bem vindo ao Contify, sua nova plataforma de controle financeiro.</p>

    <p style="color: #707070;
    font-size: 20px;">Muito obrigado por se inscrever em nossa plataforma e participar de nossa versão BETA, nos envie sugestões e feedbacks dentro de nossa plataforma. Sua participação será de grande importância para que nossa equipe possa listar os erros e acertos durante o desenvolvimento. </p>
</div>
<h2 style= "text-align: center; margin-top: 118px;
color: #3ACE80;
font-size: 30px;">Chega de papel e caneta!</h2>
<div style="display: flex;
justify-content: space-between;
align-items: center">

    <p style="color: #707070;
            font-size: 20px;
            width: 400px;">Em nossa plataforma, você poderá monitar seus ganhos e gastos de forma digital, sem necessidade de utilizar papel e caneta ou planilhas complicadas.</p>

    <img style="width: 45%;" src="https://i.ibb.co/MZyRB57/papel.png">
</div>

<h2 style= "text-align: center; margin-top: 118px;
color: #3ACE80;
font-size: 30px;">Economizar de maneira fácil!</h2>

<div style="display: flex;
justify-content: space-between;
align-items: center">

    <p style="color: #707070;
            font-size: 20px;
            width: 400px;">Monitorando seus gastos, facilita muito saber por onde começar a economizar, ainda mais com o auxílio das categorias.</p>

    <img style="width: 50%;" src="https://i.ibb.co/6vhwvLK/economizar.png">
</div>

<h2 style= "text-align: center; margin-top: 118px;
color: #3ACE80;
font-size: 30px;">Gráficos e muito mais!</h2>

<div style="display: flex;
justify-content: space-between;
align-items: center">
    <p style="color: #707070;
            font-size: 20px;
            width: 400px;">Visualize todas as informações cadastradas de forma simples e intuitiva!</p>

    <img style="width: 50%;" src="https://i.ibb.co/mXbsPWv/graficos.png">

</div>

<p style="
color: #707070;
font-size: 20px;
margin-top: 50px;
margin-bottom: 0px;
text-align:center;
">Abraços,</p>
<p style="margin-top: 0;
color: #3ACE80;
text-align:center;
margin-bottom: 50px;
font-size: 25px;">Equipe Contify</p>

</div>
</body>
</html>
