<div class="background">
  <div class="container">
    <div class="row integrant-right-card align-items-center">
      <div class="col-8">
        <div class="row justify-content-center">
          <span class="integrant-name">{{name}}</span>
        </div>
        <div class="row justify-content-center">
          <span class="integrant-function">{{function}}</span>
        </div>
        <div class="row justify-content-center">
          <p class="integrant-description">{{description}}</p>
        </div>
        <div class="social-media row justify-content-center">
          <a href="{{githubLink}}" target="_blank"><img src="assets/img/logos/Github-logo.png" alt="Github" class="logo"></a>
          <a href="{{linkedinLink}}" target="_blank"><img src="assets/img/logos/Linkedin-logo.png" alt="Linkedin" class="logo"></a>
        </div>
      </div>
      <div class="col-4">
        <div class="row justify-content-center nomargin">
          <img src="{{imagePath}}" alt="{{name}}" class="integrant-photo">
        </div>
      </div>
    </div>
  </div>
</div>
