/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: 'Maven Pro', sans-serif; }

// CSS para espaçamentos

.nopad {
    padding: 0px;
}

.nomargin {
    margin: 0px;
}

.card-divider {
    //para cards
    padding-top: 16px;
    padding-bottom: 16px;
}