/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: 'Maven Pro', sans-serif; }

// CSS para espaçamentos

.no-pad-and-marg {
  padding: 0px !important;
  margin: 0px !important;
}

.nomargin {
  margin: 0px !important;
}

.card-divider {
  //para cards
  padding: 16px 0px;
}

// CSS para imagens

.app-logo {
  max-width: 250px;
}

.form-icon {
  color: #3ace80;
}
