.integrant-card {
  .integrant-photo {
    margin: 50px 0px;
    width: 35vh;
  }

  .integrant-name {
    font-size: 3rem;
    color: #3ace80;
  }

  .integrant-function {
    color: #A8A8A8;
  }

  .integrant-description {
    text-align: center;
    color: #7B7A7A;
  }

  .social-media {
    .github {

    }
    .linkedin {

    }
  }
}

.white-card {
  background-color: white;
}

.green-card {
  background-color: #5BD69514;
}
