<div class="row nomargin integrant-card white-card align-items-center">
  <div class="col-4 nopad">
    <div class="row justify-content-center nomargin">
      <img src="assets/img/code/Lideme.png" alt="Lideme" class="integrant-photo">
    </div>
  </div>
  <div class="col-8 nopad">
    <div class="row nomargin justify-content-center">
      <span class="integrant-name">Matheus Lideme</span>
    </div>
    <div class="row nomargin justify-content-center">
      <span class="integrant-function">Designer UI/UX</span>
    </div>
    <div class="row nomargin justify-content-center">
      <p class="integrant-description">
        Com conhecimentos em diversas areas, cursos de design e marketing, Lideme é o cara criativo do grupo, cuida do
        design, conceitos e protótipos, além de ter uma grande visão de negócios.
      </p>
    </div>
    <div class="row nomargin justify-content-center">
      <div class="social-media">

      </div>
    </div>
  </div>
</div>

<div class="row nomargin integrant-card green-card align-items-center">
  <div class="col-8 nopad">
    <div class="row nomargin justify-content-center">
      <span class="integrant-name">Enrique Araújo</span>
    </div>
    <div class="row nomargin justify-content-center">
      <span class="integrant-function">Back-end</span>
    </div>
    <div class="row nomargin justify-content-center">
      <p class="integrant-description">
        Cursando técnico em administração e com conhecimentos em NodeJs, Gilberto ajuda a criar o back-end e montar a
        estrutura do projeto, pensando em funcionalidades e dando pitacos no design.
      </p>
    </div>
    <div class="row nomargin justify-content-center">
      <div class="social-media">

      </div>
    </div>
  </div>
  <div class="col-4 nopad">
    <div class="row justify-content-center nomargin">
      <img src="assets/img/code/Betin.png" alt="Betin" class="integrant-photo">
    </div>
  </div>
</div>

<div class="row nomargin integrant-card white-card align-items-center">
  <div class="col-4 nopad">
    <div class="row justify-content-center nomargin">
      <img src="assets/img/code/Lucão.png" alt="Lucão" class="integrant-photo">
    </div>
  </div>
  <div class="col-8 nopad">
    <div class="row nomargin justify-content-center">
      <span class="integrant-name">Lucas Ramos</span>
    </div>
    <div class="row nomargin justify-content-center">
      <span class="integrant-function">Front-end</span>
    </div>
    <div class="row nomargin justify-content-center">
      <p class="integrant-description">
        Com raciocínio lógico, conhecimento em matemática e front-end, Lucas pode se encaixar e participar de qualquer
        parte do projeto, seja desenvolvendo o frontend ou melhorando a lógica do backend.
      </p>
    </div>
    <div class="row nomargin justify-content-center">
      <div class="social-media">

      </div>
    </div>
  </div>
</div>

<div class="row nomargin integrant-card green-card align-items-center">
  <div class="col-8 nopad">
    <div class="row nomargin justify-content-center">
      <span class="integrant-name">Fábio Vilela</span>
    </div>
    <div class="row nomargin justify-content-center">
      <span class="integrant-function">Back-end</span>
    </div>
    <div class="row nomargin justify-content-center">
      <p class="integrant-description">
        Com formação técnica em analise e desenvolvimento de sistemas, Fábio tem conhecimento em banco de dados NodeJs,
        desenvolvendo o backend além da documentação.
      </p>
    </div>
    <div class="row nomargin justify-content-center">
      <div class="social-media">

      </div>
    </div>
  </div>
  <div class="col-4 nopad">
    <div class="row justify-content-center nomargin">
      <img src="assets/img/code/Fabio.png" alt="Fábio" class="integrant-photo">
    </div>
  </div>
</div>

<div class="row nomargin integrant-card white-card align-items-center">
  <div class="col-4 nopad">
    <div class="row justify-content-center nomargin">
      <img src="assets/img/code/Okamoto.png" alt="Okamoto" class="integrant-photo">
    </div>
  </div>
  <div class="col-8 nopad">
    <div class="row nomargin justify-content-center">
      <span class="integrant-name">Vinícius Okamoto</span>
    </div>
    <div class="row nomargin justify-content-center">
      <span class="integrant-function">Mobile</span>
    </div>
    <div class="row nomargin justify-content-center">
      <p class="integrant-description">
        Com conhecimento em todas as areas do desenvolvimento, passando por backend, frontend e até mobile, Okamoto é o
        cara mais técnico do grupo e quem cuida da parte mais técnica dos projetos.
      </p>
    </div>
    <div class="row nomargin justify-content-center">
      <div class="social-media">

      </div>
    </div>
  </div>
</div>
