<about-standard-card cardTitle="INTEGRANTES"
  description="Cada pessoa do grupo tem um background diferente, conhecimentos e gostos diferentes.
              Nos conhecemos na faculdade e rapidamente conseguimos afinidade em amizade e objetivos.
              São exatamente nossas diferenças que fazem com que nosso grupo se torne muito completo!">
</about-standard-card>

<div class="row nomargin">
  <div class="img-color"></div>
  <div class="col" style="padding: 0px">
    <img src="assets/img/code/Code_sem_Okamoto.jpeg" alt="CodeGuys_1" style="max-width: inherit;">
  </div>
  <div class="col" style="padding: 0px">
    <img src="assets/img/code/Okamoto_sem_Code.jpeg" alt="CodeGuys_2" style="max-width: inherit;">
  </div>
</div>


<integrant-left-card name="Matheus Lideme"
  function="Designer UI/UX"
  description="Com conhecimentos em diversas áreas, cursos de design e marketing, Lideme é o cara criativo do grupo. Ele cuida do
  design, conceitos e protótipos, além de ter uma grande visão de negócios."
  imagePath="assets/img/code/Lideme.png"
  githubLink="https://github.com/Lideme"
  linkedinLink="https://www.linkedin.com/in/matheuslideme/">
</integrant-left-card>

<integrant-right-card name="Enrique Araújo"
  function="Back-end"
  description="Cursando técnico em administração e com conhecimentos em NodeJs, Gilberto ajuda a criar o back-end e montar a
  estrutura do projeto, pensando em funcionalidades e dando sugestões no design."
  imagePath="assets/img/code/Betin.png"
  githubLink="https://github.com/EnriqueAraujo"
  linkedinLink="https://www.linkedin.com/in/codeenrique/">
</integrant-right-card>

<integrant-left-card name="Lucas Ramos"
  function="Front-end"
  description="Com raciocínio lógico, conhecimento em matemática e front-end, Lucas pode se encaixar e participar de qualquer
  parte do projeto, seja desenvolvendo o frontend ou melhorando a lógica do backend."
  imagePath="assets/img/code/Lucão.png"
  githubLink="https://github.com/Lucao7"
  linkedinLink="https://www.linkedin.com/in/codelucas/">
</integrant-left-card>

<integrant-right-card name="Fábio Vilela"
  function="Back-end"
  description="Com formação técnica em análise e desenvolvimento de sistemas, Fábio tem conhecimento em banco de dados e NodeJs,
  desenvolvendo o backend e a documentação."
  imagePath="assets/img/code/Fabio.png"
  githubLink="https://github.com/fabio2804"
  linkedinLink="https://www.linkedin.com/in/codefabio/">
</integrant-right-card>

<integrant-left-card name="Vinícius Okamoto"
  function="Mobile"
  description="Com conhecimento em todas as áreas do desenvolvimento, passando por backend, frontend e até mobile, Okamoto é o
  cara mais versátil do grupo, cuidando da parte mais técnica dos projetos."
  imagePath="assets/img/code/Okamoto.png"
  githubLink="https://github.com/ViniOkamoto"
  linkedinLink="https://www.linkedin.com/in/vinicius-okamoto/">
</integrant-left-card>

<about-standard-card cardTitle="O PROJETO"
  description="Após participarmos do HACKATROUBLE (evento feito em parceria com o CPS, sendo nosso primeiro hackathon) e obtermos a segunda colocação,
              decidimos nos aventurar em um projeto em grupo, do zero."
  description2="O projeto nasceu para a aplicação de conhecimentos adquiridos durante os
              primeiros semestres, dentro e fora da faculdade e para que a nossa equipe desenvolvesse uma forma de trabalho onde fosse possível
              utilizar o conhecimento especifico de cada integrante da CODE."
  description3="Demos inicio ao planejamento da plataforma no dia 02/06/2020 e estaremos
              lançando sua primeira versão em breve. Apesar do curto período, demos nosso melhor em seu desenvolvimento."
  imagePath="assets/img/code/About_graph.png">
</about-standard-card>
