.input-row {
  max-width: 420px;
}

.credit-icon {
  color: #3ACE80;
}

.debt-icon {
  color: #CE3A3A;
}

.primary-input {
  width: 100%;
}
.secondary-input {
  width: 47.5%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #707070;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3ACE80;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #3ACE80;
}
